<div class="chamba">
    <div class="crayons-layout crayons-layout--3-cols crayons-layout--3-cols--drop-right-left">
        <div class="navbar">
        </div>
        <div class="card-chamba">
        <div class="return-chamba">
            <a href="#">Regresar</a>
        </div>
        <div class="title-chamba">
                <%= image_tag "chamba-icon.png" %>
                <span>Codeando México</span>
        </div>
            <h1>Intern en tecnología</h1>
            <span>Remoto (México) | Internship | $1M</span>
            <div class="chamba-btn">
                <button type="button" class="btn btn-primary">Aplicar ahora</button>
            </div>
            <div class="chamba-info">
                <div class="chamba-responsibilities">
                <h3>Responsabilidades</h3>
                    <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam .</span>
                </div>
                <div class="chamba-requirements">
                <h3>Requerimientos</h3>
                    <ul>
                        <li>Hola</li>
                        <li>Bubulubuenas noches</li>
                        <li>Como stas</li>
                        <li>arriva paiton</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
