<% title "Glosario" %>

<div class="crayons-layout crayons-layout--2-cols crayons-layout--2-cols--drop-right-left">
  <div class="sidebar-wrapper sidebar-wrapper-left crayons-layout__sidebar-left" id="sidebar-wrapper-left">
    <aside class="side-bar" aria-label="Primary sidebar">
      <%= render "layouts/main_nav" %>
    </aside>
  </div>
  <main class="crayons-layout__content">
    <h1 class="">Glosario</h1>
    <div class="listings-columns" id="listings-results">
      <div class="single-listing crayons-card text-styles text-padding">
        <p>
          Política publica: Acciones del gobierno (o documentos que generen o propongan acciones del gobierno), que surgen de
          un proceso de diagnóstico y análisis de factibilidad para la atención efectiva de problemas públicos,
          en donde la definición de problemas y soluciones se lleva a cabo con la participación ciudadana.
        </p>
      </div>
      <div class="single-listing crayons-card text-styles text-padding">
        <p>
          Política publica: Acciones del gobierno (o documentos que generen o propongan acciones del gobierno), que surgen de
          un proceso de diagnóstico y análisis de factibilidad para la atención efectiva de problemas públicos,
          en donde la definición de problemas y soluciones se lleva a cabo con la participación ciudadana.
        </p>
      </div>
    </div>
  </main>
</div>
